@use "../../../styles.scss" as *;

.about {
  background-color: $light-bg;
  color: $text-color;
  padding: 6rem 0;

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
  }

  .about-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 16px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
  }

  .about-content {
    max-width: 550px;

    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: $dark-bg;

      span {
        color: $primary-color;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.8;
      margin-bottom: 1rem;
      color: $secondary-gray;
    }
  }
}
